venv
pycuda

__pycache__/
build/
dist/
SR-LPData/
.eggs/
*.egg-info/
tb_logger/
*/experiments/
venv/

__pycache__/
venv/
/data/licenseplate/
weights/
results/
onnx_trt/
ignore/

convert_label_format*

*.zip
*.onnx
*.mp4

*.engine
*.pth
